@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('./apperance.css');
@import url('./login.css');
@import url('./register.css');
@import url('./userpage.css');

.top-toolbar {
    background-color: rgba(200,200,200,0.15);
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: relative;
}

#header {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    padding: 15px;
    border-radius: 10px;
    width: 55vw;
}

.left-content {
    display: flex;
    flex-grow: 0;
}

.center-content {
    width: 500px;
    display: flex;
    flex-grow: 1;
}

.right-content {
    display: flex;
    flex-grow: 0;
}

.app-logo {
    width: 132px;
    height: 40px;
    background: url("/src/assets/wallet.svg");
    background-size: cover;
}

.user-menu {
    width: 42px;
    height: 42px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    cursor: pointer;
}

.user-menu:hover {
    border-color: rgba(87,51,209,.5);
}

.user-pic {
    width: 100%;
    height: 100%;
}

#main {
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    overflow: hidden;
    margin-top: 10px;
}

.coin-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    border-radius: 10px;
    padding: 45px 0 55px;
    align-items: center;
}

.coin-logo svg {
    width: 65px;
    height: 65px;
    margin-bottom: 10px;
}

.coin-currency {
    margin-left: 8px;
    font-size: 28px;
}
.coin-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}

.coin-buttons a {
    text-decoration: none;
}

.coin-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(87, 51, 209);
    font-size: 22px;
    fill: #fff;
    stroke: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    margin: 0 15px;
}

.coin-body {
    margin-top: 20px;
    background: #fff;
    border-radius: 10px;
}

.main-tools {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 10px 5px;
    margin-bottom: 10px;
    position: relative;
}

.main-tools::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background-color: #f2f2f2;
    z-index: 1;
}

.main-tools::before {
    content: '';
    height: 3px;
    width: 50%;
    border-radius: 10px;
    background-color: #5733d1;
    transition: 0.5s;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.main-tools.left::before {
    left: 0;
}

.main-tools.right::before {
    left: 50%;
}

.main-tools .story-btn.active {
    color: #5733d1;
}

.main-tools .story-btn {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    padding: 12px;
    margin: 0 5px;
    color: #bababa;
    border-radius: 10px;
}

.main-tools .story-btn:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.story {
    display: flex;
    width: 200%;
    position: relative;
    left: 0;
}

.story.transfers {
    left: 0;
}

.story.buy {
    left: -100%;
}

#story-transfers {
    width: 100%;
    padding: 15px;
}

#story-buy {
    width: 100%;
    padding: 15px;
}

.transfers-date {
    font-size: 16px;
    padding: 0 10px;
    color: #555;
}

.failed-coin,
.receive-coin,
.remove-coin {
    display: flex;
    flex-direction: row;
    background: #f4f4f4;
    border-radius:  10px;
    padding: 10px;
    margin: 10px 0;
}

.failed-coin .status-icon,
.receive-coin .status-icon,
.remove-coin .status-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    margin-right: 15px;
}

.remove-coin .status-icon {
    background: rgba(255, 0, 0, 0.45);
}

.failed-coin .status-icon {
    background: rgba(230, 230, 80, 0.6) !important;
}

.receive-coin .status-icon {
    background: rgba(0, 255, 0, 0.3) !important;
}

.failed-coin .status-icon .ai,
.receive-coin .status-icon .ai,
.remove-coin .status-icon {
    font-size: 25px;
}

.failed-coin .status-content,
.receive-coin .status-content,
.remove-coin .status-content {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
}

.failed-coin .status-content .status-name,
.receive-coin .status-content .status-name,
.remove-coin .status-content .status-name {
    font-size: 18px;
}

.failed-coin .status-content .status-coin,
.receive-coin .status-content .status-coin,
.remove-coin .status-content .status-coin {
    margin-top: 2px;
    font-size: 14px;
    color: #a7a7a7;
}






#modals {
    display: flex;
    justify-content: center;
    padding: 10px;
    position: absolute;
    width: 55vw;
}

#modal-back.active {
    background: rgba(0,0,0,.25);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
}

#user-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    padding: 8px;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 15px #ccc;
    position: absolute;
    top: 95px;
    right: 0;
    z-index: 8;
}

#user-menu.active {
    top: 75px;
    visibility: visible;
    opacity: 1;
}

#user-menu .user-person {
    display: flex;
    flex-direction: row;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
}

#user-menu .user-person-pic {
    width: 50px;
    height: 50px;
    background: #fff;
    border: 2px solid #e2e2e2;
    border-radius: 50px;
}

#user-menu .user-person:hover {
    background: #eeee;
}
#user-menu .user-person:hover .user-name,
#user-menu .user-person:hover .user-person-pic {
    color: #5733d1;
    border-color: rgba(87,51,209,.7);
}

.user-person .user-info {
    padding-top: 5px;
    margin: 0 15px;
}

.user-info .user-name {
    font-size: 22px;
}

.user-info .user-email {
    font-size: 15px;
    color: #bababa;
}

.other-user-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: -5px;
}

.other-user-menu .menu-item a {
    display: block;
    margin: 2px 0;
    padding: 8px 15px;
    border-radius: 8px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.other-user-menu .menu-item:hover a {
    background: #eee;
}

#receive-coin {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 12px;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.9);
    box-shadow: 0 0 15px #c2c2c2;
    position: absolute;
    top: 155px;
    z-index: 8;
}

#log-out {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transform: scale(0.9);
    box-shadow: 0 0 15px #c2c2c2;
    position: absolute;
    top: 155px;
    z-index: 8;
}

#log-out .modal-title {
    justify-content: center;
}

#log-out .modal-body {
    margin-top: 12px;
}

#log-out .modal-content {
    text-align: center;
    padding: 20px;
}

#log-out .log-out-query {
    width: 250px;
}

#log-out .modal-tools {
    display: flex;
    border-top: 1px solid #ccc;
}

#log-out .modal-tools .btn + .btn {
    border-left: 1px solid #ccc;
}

#log-out .modal-tools .btn {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}

#log-out .modal-tools .btn:hover {
    background: rgba(255,255,255,0.5);
}

#log-out .modal-tools .log-out-verify {
    color: #FF0000;
}

#receive-coin.active,
#log-out.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1.1);
}

.modal-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.modal-header .modal-title {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: 600;
}

.modal-header .modal-tools {
    display: flex;
    justify-content: flex-end;
}

.modal-header .modal-tools .ai {
    font-size: 20px;
    cursor: pointer;
}

.modal-body {
    margin-top: 15px;
}

.modal-body .receive-qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 250px;
    height: 250px;
    padding: 8px;
    border-radius: 12px;
}

.modal-body .receive-qrcode img {
    width: 100%;
    height: 100%;
}

.modal-body .receive-hash {
    margin-top: 15px;
}

.modal-body .receiver-label,
.modal-body .send-label {
    padding: 5px 10px;
    font-size: 15px;
    color: #555;
    position: relative;
}

.modal-body input {
    border: none;
    min-width: 240px;
    background-color: #fff;
    outline: none;
    padding: 10px 12px;
    border-radius: 10px;
}

.modal-body .send-comment textarea {
    border: none;
    min-width: 240px;
    max-width: 240px;
    min-height: 100px;
    background-color: #fff;
    outline: none;
    padding: 10px 12px;
    border-radius: 10px;
}

.modal-body .receive-hash .ai {
    margin-top: 10px;
    color: #aaa;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 30px;
}

.modal-body .send-hash .ai {
    margin-top: 10px;
    color: #aaa;
    cursor: pointer;
    position: absolute;
    right: 30px;
}

.modal-body .receive-hash:hover .ai {
    visibility: visible;
    opacity: 1;
}

.modal-body .receive-share {
    margin-top: 15px;
}

.modal-body .receive-share .share-btn {
    background-color: #5733d1;
    width: 100%;
    outline: none;
    border: none;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

#send-coin {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 12px;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transform: scale(0.9);
    box-shadow: 0 0 15px #c2c2c2;
    position: absolute;
    top: 155px;
    z-index: 8;
}

#send-coin.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1.1);
}

#send-coin .modal-body .qr-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
}

#send-coin .qr-view .qrcode-stream-wrapper {
    width: 250px;
    height: 250px;
    background: #e2e2e2;
    border-radius: 10px;
}

#send-coin .qr-view .close-modal {
    border: none;
    outline: none;
    padding: 12px 55px;
    margin-top: 70px;
    border-radius: 10px;
    cursor: pointer;
}

#send-coin .qr-view .close-modal:hover {
    background: #4527ae;
    color: #fff;
    box-shadow: 0 0 0 2px rgba(87, 51, 209, .5);
}


#cheque-coin {
    width: 20vw;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.9);
    box-shadow: 0 0 15px #c2c2c2;
    position: absolute;
    top: 155px;
    z-index: 8;
}

#cheque-coin.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1.1);
}

#cheque-coin .modal-body {
    padding:0 20px 20px;
}

#cheque-coin .top-brand {
    display: flex;
    justify-content: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

#cheque-coin .top-brand .corp-logo {
    transform: scale(0.7);
}

#cheque-coin .cheque-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#cheque-coin .cheque-header .cheque-status-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    font-size: 25px;
}

#cheque-coin .cheque-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

#cheque-coin .cheque-date .cheque-title {
    font-size: 20px;
    font-weight: 500;
}

#cheque-coin .cheque-date .cheque-price {
    font-size: 17px;
}

#cheque-coin .cheque-block {
    margin: 15px 0;
}

#cheque-coin .cheque-block .cheque-title {
    color: #888;
    padding-bottom: 5px;
    font-size: 16px;
}

#cheque-coin .cheque-block .cheque-content {
    color: #000;
    font-size: 18px;
}

@media screen and (max-width: 1370px) {
    #header, #main, #modals {
        width: 70vw;
    }
    #cheque-coin {
        width: 30vw;
    }
}

@media screen and (max-width: 1000px) {
    #cheque-coin {
        width: auto;
    }
}

@media screen and (max-width: 910px) {
    #header, #main, #modals {
        width: 85vw;
    }
}

@media screen and (max-width: 600px) {
    #header, #main, #modals {
        width: 95vw;
    }
}